/* ======== Navber Section CSS ======== */

.navbar-brand img{
    max-width: 80px;
}

/* ======== Slider Section CSS ======== */
.carousel-item img{
    height: 600px;
}
.carousel-caption{
    margin-bottom: 180px;
}

/* ======== Figure Section CSS ======== */

.figure img{
    width: 400px;
    height: 450px;
}